.Navbar {
  background-color: black;
}

.Navbar ul {
  background-color: black;
  display: flex;
  align-items: center;
}

.Navbar ul li a {
  color: white;
}

@media screen and (max-width: 600px) {
  .Navbar span {
    font-size: 0.7em;
  }
}
